# Statements Assessment Test
Let's test your knowledge!

**use for loop to acess the given element of 2D list and print it**

In [ ]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [19]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

# Use a for loop to access and print each element
for row in list2d:
    for element in row:
        print(element, end=' ')
    print()  # Print a newline after each row

0 0 0 0 0
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0

**change the element in this 2d list. any kind of change you want is acceptable**

In [20]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

# Use a nested for loop to change each element
for i in range(len(list2d)):
    for j in range(len(list2d[i])):
        list2d[i][j] = i * 10

# Print the modified 2D list
for row in list2d:
    print(row)

[0, 0, 0, 0, 0]
[10, 10, 10, 10, 10]
[20, 20, 20, 20, 20]
[30, 30, 30, 30, 30]
[40, 40, 40, 40, 40]

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [7]:
st = 'Print only the words that start with s in this sentence'

In [21]:



words = st.split()

for word in words:
    if word.startswith('s') or word.startswith('S'):
        print(word)

string

______
**Use range() to print all the even numbers from 0 to 10.**

In [10]:
#Code Here# Use range() to print all the even numbers from 0 to 10
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [22]:
#Code in this cell
# List comprehension to create a list of numbers divisible by 3 between 1 and 50
divisible_by_3 = [num for num in range(1, 51) if num % 3 == 0]

print(divisible_by_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [12]:


# Split the sentence into words
words = st.split()

# Use a for loop and an if statement to print "even!" for words with even length
for word in words:
    if len(word) % 2 == 0:
        print("even!")

even!
even!
even!
even!
even!
even!

**write an example of do while loop,**

In [24]:
#Code in this cell# Example of a do-while loop in Python

count = 0

while True:

    print("This is iteration", count)


    count += 1

    if count >= 5:
        break

This is iteration 0
This is iteration 1
This is iteration 2
This is iteration 3
This is iteration 4

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [14]:
#Code in this cell# FizzBuzz program
for num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [25]:
#Code in t# String



first_letters = [word[0] for word in st.split()]

print(first_letters)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

**Give an example of nested list comprehension**

In [26]:
#Code in this cell
# Nested list comprehension to create a 3x3 matrix
matrix = [[row * 3 + col + 1 for col in range(3)] for row in range(3)]


for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### Great Job!